/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');


:root {
	--font-family: 'Nunito Sans', sans-serif;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: #fcfcfc;
	--primary-color: #000000;
	--secondary-color: #b30000;
	--primary-shadow: #8b8eaf;
	--secondary-shadow: ;
    --bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	display: block;
	margin: auto;
	width: 75%;
	list-style-type: none;
	padding-left: 0;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	color: var(--secondary-color);
	transition: all 0.3s ease;
}

body {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	background: rgb(249, 136, 137);
		background: linear-gradient(139deg, rgba(249, 136, 137, 1) 0%, rgba(250, 190, 192, 1) 30%, rgba(0, 124, 245, 1) 100%);
	/* background-image: url('../assets/images/bgimg.jpg');
	background-size: cover; */
	font-family: var(--font-family);
}
/* 
.container {
	height: 100vh;
	width: 100vw;
}

nav {
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(5px);
	box-shadow: 2px 0 4px rgba(0,0,0);
}

nav:hover {
	font-size: 1.3rem;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 4px 0 15px rgba(0,0,0);
	transition: all 0.2s ease;
}

main {
	display: flex;
}

.sidebar {
	height: 50%;
	width: 20%;
	position: fixed;
	overflow-x: hidden;
	z-index: 1;
	top: 25%;
	left: 0;
	font-size: 1.2rem;
	font-weight: var(--bold-font);
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
	box-shadow: 0 4px 12px rgba(0,0,0);
	backdrop-filter: blur(5px);
	display: flex;
	align-content: center;
	justify-content: center;
}

.sidebar:hover {
	left: 2%;
	box-shadow: 4px 6px 15px rgba(0,0,0);
	background-color: rgba(255,255,255,0.3);
	transition: all 0.3s ease;
}

.sidebar-list {
	border-bottom: 2px solid black;
}

.sidebar-link {
	display: block;
	padding: 15px;
	padding-left: 0px;
	letter-spacing: 2px;
}

.sidebar-link:hover {
	font-size: 1.4rem;
	letter-spacing: 4px;
	padding: 17px 0;
}

.Inner-container {
	margin: 1em;
	position: relative;
	width: 75vw;
	height: auto;
	left: 20%;
}

.Intro {
	font-size: 1.1rem;
	margin: auto;
	width: 50%;
	padding: 1em;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
	box-shadow: 2px 2px 12px rgba(0,0,0);
	backdrop-filter: blur(5px);
}

.Intro:hover {
	box-shadow: 4px 4px 15px rgba(0,0,0);
	background-color: rgba(255,255,255,0.3);
	transition: all 0.3s ease;
}

.Intro p,.Intro ol,.Intro h1 {
	margin: auto;
	width: 80%;
}

.Intro p {
	text-align: center;
}

.flex-container {
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	width: 100%;
	height: auto;
	flex-wrap: nowrap;
}

.Input-class,.Output-class {
	font-size: 1.2rem;
	font-weight: var(--bold-font);
	margin: 2em 0.5em;
	margin-bottom: 0;
	padding: 1em;
	width: 35%;
	height: auto;
	background-color: rgba(255,255,255,0.4);
	border-radius: 5px;
	box-shadow: 2px 2px 8px rgb(0 0 0);
	backdrop-filter: blur(5px);
}

.Input-class:hover,.Output-class:hover {
	box-shadow: 4px 4px 15px rgba(0,0,0);
	background-color: rgba(255,255,255,0.3);
	transition: all 0.3s ease;
}

.Input-div,.Output-div,.Length-data, .Volume-data, .Mass-data,.Temperature-data,.Time-data,.Length-data-2, .Volume-data-2, .Mass-data-2,.Temperature-data-2,.Time-data-2 {
	margin: auto;
	text-align: center;
	width: 100%;
}

.Input-div,.Output-div {
	padding: 1em 0em;
}

label {
	font-size: 1.4rem;
}

input[type=text] {
	font-size: 1.2rem;
	width: 100%;
	padding: 0.5em 1em;
	border-radius: 5px;
	box-shadow: inset 4px 4px 4px var(--primary-color);
}

select {
	width: 100%;
	padding: .6em;
	font-size: 1.15rem;
	box-shadow: inset 4px 4px 4px var(--primary-color);
	border-radius: 5px;
}

select option:hover {
	background-color: lightgrey;
	padding-left: .7em;
	transition: all 0.2s ease;
}

@media screen and (max-width: 720px){
	.Intro ol,.Intro h1{
		margin: auto 1em;
	}
	
	.Intro{
		font-size: 1rem;
		width:90%;
	}

	.Input-class,.Output-class{
		font-size: 1.1rem;
		width:40vw;
		margin: 1em 0.5em;
	}

	a{
		font-size: 0.75em;
	}

	select{
		font-size: 1rem;
	}
}

@media screen and (max-width: 425px){
	.sidebar{
		width:auto;
		top: 15%;
		height: 45%;
	}

	.Intro{
		display: none;
	}

	.flex-container{
		flex-wrap: wrap;
	}

	a{
		font-size: .75rem;
	}

	.Input-class,.Output-class{
		font-size: 1rem;
		margin: 0.5em;
		width:55vw;
	}

	.Input-div,.Output-div {
		padding: .5em;
	}

	input[type=text] {
		width: 100%;
		padding: 0.35em 0.75em;
		border-radius: 5px;
		box-shadow: inset 4px 4px 4px var(--primary-color);
	}
} */


.outer-container{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	width:90%;
	height:80%;
	margin:auto;
}

.outer-container .instructions{
	width:30%;
	height:90%;
	margin:auto;
}
.outer-container .converter{
	width:60%;
	height:90%;
	margin:auto;
}

.outer-container .converter{
/* 	position:absolute; */

}

.converter .input-container{
/* 	background: rgb(238, 180, 184); */
/* 	background: linear-gradient(45deg, rgba(238, 180, 184, 1) 0%, rgba(255, 110, 109, 1) 100%); */
	background: rgb(179,226,252);
	background: linear-gradient(45deg, rgba(179,226,252,1) 0%, rgba(104,198,249,1) 19%, rgba(45,96,145,1) 100%);
	height: 50%;
/* 	text-align: center; */
}

.converter .input-container .unit-type{
	/* text-align: center; */
}
/* 
.converter .input-container .unit-type .select-box{
	display: flex;
	width: 100%;
}

.converter .input-container .unit-type .select-box .options-container,.converter .input-container .unit-type .select-box .selected{
	background: #fabec0;
	max-height: 0;
	width: 50%;
	margin: auto;
	opacity: 0;
	transition: all 0.4s;
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
}

.converter .input-container .unit-type .select-box .options-container.active {
	max-height: 140px;
	opacity: 1;
	overflow-y: scroll;
}

.converter .input-container .unit-type .select-box .options-container::-webkit-scrollbar {
	width: 8px;
	background: #a3aad2;
	border-radius: 0 8px 8px 0;
}

.converter .input-container .unit-type .select-box .options-container::-webkit-scrollbar-thumb {
	background: #d8b6c8;
	border-radius: 0 8px 8px 0;
}

.converter .input-container .unit-type .select-box .option{
	padding: 5px 10px;
	cursor: pointer;
	color: #8b8eaf;
}

.converter .input-container .unit-type .select-box .option:hover {
	color: #fcfcfc;
}

.converter .input-container .unit-type .select-box label{
	cursor: pointer;
}

.converter .input-container .unit-type .select-box .option .radio {
	display: none;
} */

select{
	font-size: 1.5rem;
	padding: 0.5em;
	background: none;
	color: #ffffff;
	width: fit-content;
	cursor: pointer;
	border: none;
}

option{
	background: #c89899;
	text-align: center;
}

.custom-select{
	width: 70%;
	margin: auto;
	position: relative;
	text-align:center;
}
/* 
.custom-arrow{
	display: block;
	background: red;
	height: 100%;
	width: 3em;
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: none;
} */

.converter .input-container .input-unit{
	display:flex;
	/* text-align:left; */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.converter .input-container .input-unit .input-value{
	display: inline;
	width:40%;
}

.converter .input-container .input-unit .input-value input{
	width:100%;
	border:none;
	border-bottom:3px solid white;
	background:none;
	color:white;
	font-size:3rem;
	padding:1rem;
	margin:1rem;
}

.converter .input-container .input-unit .input-unit-type {
	display:inline;
	margin:1rem;
	padding:1rem;
	position:relative;

}

.converter .input-container .input-unit .input-unit-type select {
	font-size: 1.2rem;
	height:3rem;
/* 	position:relative; */
	margin:auto;
}
